streamlit
pandas
plotly.express
python-dotenv
langchain-experimental
langchain-cohere
dateparser
streamlit-authenticator
openpyxl
supabase-py
bcrypt
SQLAlchemy
psycopg2
psycopg2-binary
langchain-community
vanna
sentence-transformers
